@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: Roboto, sans-serif;
    border: 2px solid red;
}

header {
    background-color: #1f2937;
    padding: 16px 208px;
}

/*hero section*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul{
    display: flex;
    list-style-type: none;
    gap: 18px;
}


#hlogo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

a, .subtext{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero{
    border: 2px solid rebeccapurple;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 56px;
}
.hero .left{
    border: 2px solid rebeccapurple;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero .right{
    border: 2px solid rebeccapurple;
    flex-shrink: 0;
    width: 50%;
    justify-self: center;
}

.aws {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}


button {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.hero button {
    border: none;
}
.image img{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
     gap: 52px;
 
}
.info{
    max-width: 200px;
}
.container img {
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 50px;
  }
.title{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}


/*footer*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
    color: #E5E7EB;
  }